In [1]:
2 +2

4

## Bolean methods


is lower() - Method returns the output either true or false .if it is true 

isupper()--true or false

islower()--true or false

isnumeric()--true or false

In [3]:
s = "Application"
s1 = 'ANIL'
print(s.isupper())
print(s1.isupper())

False
True

In [4]:
s = "5678"
s1 ="App1889"
print(s.isnumeric())
print(s1.isnumeric())

True
False

In [7]:
s = "5678"
s1 ="Appliation"
print(s.isalpha())
print(s1.isalpha())

False
True

### String Methods

1.join():join() method will conncatinate two strings

2.split()

3.Replace()

In [8]:
s="python programming is easy to learn"
print(s.split())
print(s.split("m"))
print(s.split(" , "))

['python', 'programming', 'is', 'easy', 'to', 'learn']
['python progra', '', 'ing is easy to learn']
['python programming is easy to learn']

In [9]:
s="python,programming ,is,easy ,to ,learn"
print(s.split(" , "))

['python,programming ,is,easy ,to ,learn']

# Python -- Tuples
## A tuple of seq of objects is like list only
## The differences of list and tuples are ,the tuples cannot be changed unlike list
## Llist will use  [ ]
## Tuples will use (  ) to hold objects
## Tuples are useful for when the given input is only for read

In [10]:
t1=("app","class",1999,5687,"aaaa")
t2=(1,2,3,4,5)
print(t1)
print(t2)

('app', 'class', 1999, 5687, 'aaaa')
(1, 2, 3, 4, 5)

In [15]:
t1=("app","class",1999,5687,"aaaa")
print("t1[0] = ",t1[0])
print("t1[1:-2] = ",t1[1:-2])
print("t1[1:3] = ",t1[1:3])

t1[0] =  app
t1[1:-2] =  ('class', 1999)
t1[1:3] =  ('class', 1999)

In [ ]:
t1=("app","class",1999,5566,"aaa")
print(t1)

del (t1)

In [20]:
t1=("app","class",1999,5687,"aaaa")
t2=("kjdcesj",13,34,"dgdg")
t3=t1+t2
print(t3)

('app', 'class', 1999, 5687, 'aaaa', 'kjdcesj', 13, 34, 'dgdg')

# len(tuple) :- len of the tuple
# max(tuple) :- max value from tuple
# min(tuple):-min value from tuple
# cmp(tuple1,tuple2):-returns the value as 1 or -1

In [21]:
t1=(8,3,54,76,19,4,2)
print(min(t1))

2

In [23]:
t1=(8,3,54,76,19,4,2)
print(max(t1))

76

In [24]:
t1=(8,3,54,76,19,4,2)
t2=(1,4,7,8)